<p><em><em>Version</em></em></p>
<ul>
<li>Long press on minus button shows the version <br/> v2.18.A1A569A 17-07-22</li>
</ul>
<p><em><em>Secret setting</em></em></p>
<ul>
<li>Long press on minus button then short press on the plus button shows the version with the elapsed time the iron is on.
<ul>
<li>This is is seconds, with the last digit in 100mS increments
<ul>
<li>example 101 = 10 seconds and 100 milliseconds</li>
</ul></li>
</ul></li>
</ul>
<p><em><em>Menu</em></em></p>
<ul>
<li>Power Settings
<ul>
<li>Power source
<ul>
<li>Sets cutoff voltage. (DC 10V) (S 3.3V per cell, disabled power limit)</li>
</ul></li>
<li>QC Voltage 20.0
<ul>
<li>Max QC Voltage the iron should negotiate for</li>
<li>Range: 9 to 22 volts</li>
</ul></li>
<li>PD Timeout (20)
<ul>
<li>PD negotiation timeout in 100ms steps for compatability with some QC chargers</li>
<li>Range: 1 to 50 seconds / Off <br/><br/></li>
</ul></li>
</ul></li>
<li>Soldering settings
<ul>
<li>Boost temp 410<span class="math inline"><sup>∘</sup></span>
<ul>
<li>Tip temperature used in “boost mode”</li>
<li>Range: 10 to 450 degrees (Increments of 10)</li>
</ul></li>
<li>Start-up behavior (0)
<ul>
<li>0=off | S=heat up to soldering temp | Z=standby at sleep temperature until moved | R=Standby without heating until moved</li>
</ul></li>
<li>Temperature change short (1)
<ul>
<li>Temperature-change-increment on short button press</li>
<li>Range: 1 to 50</li>
</ul></li>
<li>Temperature change long (10)
<ul>
<li>Temperature-change-increment on short button press</li>
<li>Range: 5 to 90 (Increments of 5)</li>
</ul></li>
<li>Allow locking buttons (D)
<ul>
<li>While soldering, hold down both buttons to toggle locking them</li>
<li>(D=disable | B=boost mode only | F=full locking) <br/><br/></li>
</ul></li>
</ul></li>
<li>Sleep mode
<ul>
<li>Motion Sensitivity (7)
<ul>
<li>0=off | 1=least sensitive | … | 9=most sensitive</li>
</ul></li>
<li>Sleep temp (110 degrees)
<ul>
<li>Tip temperature while in “sleep mode”</li>
<li>Range: 10 to 300</li>
</ul></li>
<li>Sleep timeout (50s)
<ul>
<li>Interval before “sleep mode” kicks in (s=seconds | m=minutes)</li>
<li>Range: 10s to 50s | 1m to 10m | Off</li>
</ul></li>
<li>Shutdown timeout 10m
<ul>
<li>Interval before the iron shuts down (m=minutes)</li>
<li>Range: 1m to 60m | Off <br/><br/></li>
</ul></li>
</ul></li>
<li>User interface
<ul>
<li>Temperature unit (C)
<ul>
<li>C=Celcius | F=Fahrenheit</li>
</ul></li>
<li>Display orientation (R)
<ul>
<li>R=right-handed | L=left-handed | A=automatic</li>
</ul></li>
<li>Cooldown flashing <input type="checkbox"/>
<ul>
<li>Flash the temperature reading after heating was halted while the tip is still hot</li>
</ul></li>
<li>Scrolling speed (S)
<ul>
<li>Speed info text scrolls past at (S=slow | F=fast)</li>
</ul></li>
<li>Swap +- key <input type="checkbox"/>
<ul>
<li>Reverse assignment of buttons for temperature adjustment</li>
</ul></li>
<li>Anim. speed (M)
<ul>
<li>Pace of icon animations in the menu (0=off | S=slow | M=medium | F=fast)</li>
</ul></li>
<li>Anim. loop <input type="checkbox"/>
<ul>
<li>Loop icon animations in main menu</li>
</ul></li>
<li>(Brightness icon) (4)
<ul>
<li>Adjust the brightness of the OLED screen</li>
</ul></li>
<li>(Invert icon) <input type="checkbox"/>
<ul>
<li>Invert the colors of the OLED screen</li>
</ul></li>
<li>Boot logo duration (1s)
<ul>
<li>Sets the duration for the boot logo (s=seconds)</li>
<li>Range: 1-4s | Infinite | Off</li>
</ul></li>
<li>Detailed idle screen
<ul>
<li>Display detailed information in a smaller font on the idle screen</li>
</ul></li>
<li>Detailed solder screen
<ul>
<li>Display detailed information in a smaller font on the soldering screen</li>
</ul></li>
</ul></li>
<li><em><em>Advanced Settings</em></em>
<ul>
<li>power limit (35 W)
<ul>
<li>Maximum power the iron can use (W=watts)</li>
<li>Range: Off or 0 to 95W (Increments of 5)</li>
</ul></li>
<li>Reset factory settings?
<ul>
<li>Reset all settings to default</li>
</ul></li>
<li>Calibrate temperature
<ul>
<li>Start tip temperature offset calibration</li>
</ul></li>
<li>Calibrate input voltage
<ul>
<li>Start VIM calibration (long press to exit)</li>
</ul></li>
<li>Power pulse (0.5)
<ul>
<li>Intensity of power of keep-awake-pulse (watt)</li>
<li>Range 0.1 to 9.9 | Off</li>
</ul></li>
<li>Power pulse delay (4)
<ul>
<li>Delay before keep-awake-pulse is triggered (x 2.5s)</li>
<li>Range: 1 to 9</li>
</ul></li>
<li>Power pulse duration (1)
<ul>
<li>Keep-awake-pulse duration (x 250ms)</li>
<li>Range: 1 to 9</li>
</ul></li>
</ul></li>
</ul>
